.alice-carousel__stage-item {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    vertical-align: top;
    white-space: normal;
    line-height: 0;
    display:flex;
}

.movies-container {
    display: flex;
    align-items: center;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display:inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 45px;
    width: auto;
    font-size: 70px;
    padding: 10px 5px;
    cursor: pointer;
}

.alice-carousel__next-btn {
    right: 0;
    flex-direction: row-reverse;
}

.alice-carousel__prev-btn {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .movie-info {
        text-align: center; /* This assumes movie-info needs horizontal centering */
        margin: 0 auto; /* This can help with horizontal centering if it's a block-level element */
        /* Add any other styles needed to center movie-info on mobile here */
          display: flex;
  flex-direction: column;
  align-content: center;
    }
}
