.movie-container {
  width: 100%;
  position: relative;
  display: block;
  clear:both;
}

.overlay {
  background-repeat: no-repeat;
  height: 87vh;
  filter: grayscale(100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.content {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  z-index: 99;
  left: 0;
  padding: 40px;
}

.ind-card {
  display: flex;
  justify-content: flex-end;
  color: antiquewhite;
  z-index: 5;
}

.ind-poster {
  display: flex;
  height: 440px;
  width: 280px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 600px;
  background-color: white;
  color: black;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
  margin-left: 0px;
}

.movie-info-title {
  margin: 0;
  font-size: 1.5rem;
}

.movie-tagline {
  margin-top: 3px;
  font-size: 1rem;
}

.movie-overview {
  margin: 5px 0px;
  font-size: .85rem;
}

.revenue, .budget, .runtime {
  margin: 0
}

.stats {
  font-size: .90rem;
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-title {
  margin-bottom: 5px;
}

.stats-title:before {
  position: relative;
  height: 1.1em;
  content: '';
  border-left: 3px solid orange;
  margin: -1px 6px 0 -9px;
}

.trailer-container {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
}

 

@media screen and (max-width: 844px) {

  .overlay {
    background-repeat: no-repeat;
    height: 93vh;
    filter: grayscale(100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 95vh;
  }

  .ind-poster {
    max-height: 26vh;
    width: 90%;
    margin-bottom: 24px
  }

  .movie-info-title {
    margin-top: 20px;
    font-size: 1.3rem;
  }

  .movie-info {
    width: 90%;
    margin-left: 0;
    padding: 8px;
    text-align: center;
    display: flex;
    height: 59%;
    font-size: .75rem;
    margin-top: 0
  }
}
