 header {
  display: flex;
  justify-content: center;
  align-content: space-between;
  background-color: #BB641E;
  align-items: center;
}

.headerImage{
  display:flex;
  height:100px;
  width: 100px;
}

.headerOne {
  margin-right: 20px;
  color: #fede59;
  font-family:'Kool Beans', sans-serif;
}

.headerTwo {
  color: #FDBD59;
  font-family:'Kool Beans', sans-serif;;
}

header h1{
  font-size: 50px;
}
.main-page {
  background-color: black;
}

.detail-title {
  color:white;
}

.error-handling {
  color: #fede59;
  font-size: 30px;
  display: flex;
  justify-content: center;
}


