.movie {
    /* gap: var(--size-3 ); */
    padding-left: 3rem;
    padding-right:3rem;
    background: black;
    border-radius: var(--radius-2);
    cursor: pointer;
    color: antiquewhite;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
} 

.movie > img {
  max-width: 100%;
  max-height: 100%;
  inline-size: 250px;
  object-fit: cover;
} 

.movie-card-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.movie-title {
  color: #fede59;
  font-weight: bolder;
  display: flex;
  justify-content: baseline;
  font-size: 1.1rem;
  margin: 0;
  max-width: 100%;
  padding-top: 5px;
}

.movie-title:hover {
    background-color: #fede59;
    color:black;
}

.poster-image {
    cursor:pointer;
}

.poster-image:hover {
    transform: translateY(-10px);
}

.overripe-banana {
  height: 25px;
  width: 25px;
  margin-left: 10px
}

.rating-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 117px;
}
