header {
  display: flex;
  justify-content: center;
  background-color: #BB641E;
  align-items: center;
}

.headerImage {
  display: flex;
  height: 100px;
  width: 100px;
}

/* Remove the underline from the Link */
.logo-container {
  text-decoration: none;
  display: flex; /* Add display flex */
  align-items: center; /* Vertically align the image and h1 */
}

.headerOne {
  margin-left: 10px; /* Adjust margin to your preference */
  color: #fff925;
  font-family: 'Kool Beans', sans-serif;
}

.headerTwo {
  color: #fede59;
  font-family: 'Kool Beans', sans-serif;
}

header h1 {
  font-size: 3rem;
}

