header {
  display: flex;
  justify-content: center;
  background-color: #BB641E;
  align-items: center;
  width: 100%;
  height: 10vh; /* Change to 10vh to make it relative to viewport height */
}

.headerImage {
  height: 10vh;
  width: 100px;
}

.logo-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* This will ensure the items don't wrap onto the next line */
}

.headerOne {
  margin-left: 10px;
  color: #fff925;
  font-family: 'Kool Beans', sans-serif;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .headerOne {
    font-size: 2rem; /* You can adjust this value to fit the title on mobile screens */
  }
}

