header {
  display: flex;
  justify-content: center;
  align-content: space-between;
  background-color: #BB641E;
}

.headerOne {
  margin-right: 10px;
  color: #F1C34D
}

.headerTwo {
  color: #FDBD59
}


