form {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

input, .search-button {
  margin-top: 10px;
  height: 5vh;
  display: flex;
  margin-right: 10px;
  background-color:antiquewhite;
}

input {
  width: 250px;
  text-align: center
}

button {
  width: 100px;
  justify-content: center;
  text-align: center;
}