/* .movie-details {
    height: 87vh;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    /* padding: 10, 10, 10, 10; */
    /* margin-top: 0px;
    align-items: flex-end;
    justify-content: space-between;
     */

    /* overflow: scroll; */
/* } */

/* .ind-card {
    display:flex;
    justify-content: flex-end;
    color:antiquewhite;
    z-index: 5;
}

.ind-poster {
    display:flex;
    height: 270px;
    width: 200px;
    opacity: .9 !important;
} */
/* 
.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    width: 450px;
    background-color: white;
    color: black;
    align-items: center;
    flex-wrap: nowrap;
    padding: 12px;
    margin-left: 20px;
}

.detail-list {
    list-style: none;
    color: black;
} */ 

.movie-container {
    float: left;
    width: 100%;
    position: relative;
    display: block;
    position: relative;
    z-index: 90;
}

.overlay {
    background-repeat:no-repeat;
    height: 87vh;
    filter: grayscale(100%); 
    background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    z-index: 0;

}

.content {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom:0;
    z-index: 99;
    left: 0;

}

.ind-card {
    display:flex;
    justify-content: flex-end;
    color:antiquewhite;
    z-index: 5;
}

.ind-poster {
    display:flex;
    height: 270px;
    width: 200px;
    opacity: .9 !important;
} 

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    width: 450px;
    background-color: white;
    color: black;
    align-items: center;
    flex-wrap: nowrap;
    padding: 12px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.detail-list {
    list-style: none;
    color: black;
} 


