.movies-container {
  height: 50%;
  width: 95%;
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

