.movie-details {
    height: 60vh;
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 10, 10, 10, 10; */
    margin-top: 20px;
    align-items: flex-end;
    justify-content: space-between;
    /* overflow: scroll; */
    
}

.ind-card {
    display:flex;
    justify-content: flex-end;
    color:antiquewhite;
    z-index: 5;

}

.ind-poster {
    display:flex;
    height: 270px;
    width: 200px;
    opacity: .9 !important;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    width: 450px;
    background-color: white;
    color: black;
    align-items: center;
    flex-wrap: nowrap;
    padding: 12px;
    margin-left: 20px;
}

.detail-list {
    list-style: none;
    color: black;
}

.movie-title {
  color: #fede59;
    font-weight: bolder;
    align-items: stretch;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin: 0;
    max-width: 100%;
    padding-top: 5px;
}

.movie-title:hover {
    background-color: #fede59;
    color:black;
}

.poster-image {
    cursor:pointer;
}

.poster-image:hover {
    transform: translateY(-10px);
}